/* -- GERAL -- */
:root {
    --background_menu: #B0C4DE;
    --background_conteudo: #FFF;
    --background_descrisao: #B0C4DE;
    --background_menu_mobile: #4682B4;

    --color_interacao: #778899;
    --color_titulo: #4682B4;
    --color_border: #B0C4DE;
    --color_texto: #000;
    --color_item: #4682B4;
}

html, body {
    height: 100%;
}

.manual_descricao::-webkit-scrollbar {
    width: 6px;
}
.manual_descricao::-webkit-scrollbar-track {
    background: #B0C4DE;
}
.manual_descricao::-webkit-scrollbar-thumb {
    background-color: var(--color_interacao);
    border-radius: 5px;  
}

.manual_col_menu::-webkit-scrollbar {
    width: 6px;
}
.manual_col_menu::-webkit-scrollbar-track {
    background: #B0C4DE;
}
.manual_col_menu::-webkit-scrollbar-thumb {
    background-color: var(--color_interacao);
    border-radius: 5px;  
}

.manual_titulo {
    color: var(--color_titulo);
    padding-left: 6px;
    border-left: 4px solid var(--color_border);
}
.manual_titulo:hover {
    cursor: pointer;
    background: #B0C4DE50;
}
.manual_texto {
    color: var(--color_texto);
}

.manual_item {
    font-weight: 500;
    color: var(--color_item) !important;
}
.manual_item.active {
    background-color: #4682B4 !important;
    border: 1px solid #4682B4 !important;
    color: #FFF !important;
}

/* -- MOBILE -- */
@media (max-width: 991px) {
    .manual_container {
        height: 100%;
    }

    .menu_row {
        height: auto;
        background-color: var(--background_menu_mobile);
    }
    .manual_row {
        height: 100%;
        background-color: var(--background_conteudo);
    }
    
    .manual_conteudo {
        z-index: 1;
        width: 60%; 
        min-width: 300px;
    }

    .manual_col_conteudo {
        height: 100%;
        overflow: auto;
    }
    .manual_col_menu_mobile {
        display: flex;
        align-items: center;
    }
    .manual_col_menu {
        z-index: -1;
        height: 100%;
        width: 300px !important;
        position: absolute !important;
        overflow: auto;
        background-color: var(--background_menu);
    }

    @keyframes mostrar-menu {
        from {
            left: -300px;
        }
        to {
            left: 0px;
        }
    }

    @keyframes fechar-menu {
        from {
            left: 0px;
            z-index: 2;
        }
        to {
            left: -300px;
            z-index: 2;
        }
    }
}

/* -- DESKTOP -- */
@media (min-width: 992px) {
    .manual_container {
        height: 100%;
    }

    .manual_row {
        height: 100%;
    }

    .manual_col_conteudo {
        height: 100%;
        overflow: auto;
        background-color: var(--background_conteudo);
    }
    .manual_col_menu {
        height: 100%;
        min-width: 300px;
        background-color: var(--background_menu);
        overflow: auto;
    }
    .manual_col_menu_mobile {
        display: none;
    }
    .manual_col_descricao {
        width: 0%;
        overflow: hidden;
        background-color: var(--background_descrisao);
    }

    .manual_descricao_botao {
        border-radius: 50% !important;
        border: 2px solid var(--color_interacao) !important;
        color: var(--color_interacao) !important;
        background-color: #B0C4DE !important;
    }
    .manual_descricao_botao:hover {
        background-color: #bcd3f1 !important;
    }

    .manual_conteudo {
        width: 60%;
    }
    .manual_descricao {
        height: 100%;
        margin-right: 17px;
        position: fixed;
        overflow: auto;
    }

    @keyframes ver-descricao {
        from {
            width: 0%;
        }
        to {
            width: 30%;
        }
    }

    @keyframes fechar-descricao {
        from {
            width: 30%;
        }
        to {
            width: 0%;
        }
    }
}